{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
    <section class="flex-ns flex-wrap justify-around mv4 bg-white-80">
        <div class="">
            <h3 class="tc tl-l">{{ i18n "studies" }}</h3>

            <dl class="lh-title pa4 mt0">
                {{ range $date, $data := .Params.studies }}
                <dt class="f6 b">{{ $date }}</dt>
                <dd class="ml0 mb1 relative w-100">
                    <span class="flex flex-row justify-between w-80" style="display: flex">
                        {{- $data.name }} - {{ $data.subject -}}
                    </span>

                    <span class="dib w-100 i">{{ $data.stuff }}</span>

                    {{ with $data.url }}
                    <a class="absolute top-0 right--1 link dib link-transition tr" target="_blank"
                       hreflang="{{ site.LanguageCode | default site.Language.Lang }}"
                       href="{{ $data.url }}">Link
                        {{- partial "new-window-icon.html" . -}}
                    </a>
                    {{ end }}
                </dd>
                {{ end }}
            </dl>
        </div>

        <div class="">
            <h3 class="tc tl-l">{{ i18n "prev_workplaces" }}</h3>

            <dl class="lh-title pa4 mt0">
                {{ range $date, $data := .Params.jobs }}
                    <dt class="f6 b">{{ $date }}</dt>
                    <dd class="ml0 mb1 relative">
                        <span class="flex justify-between w-80">
                            {{- $data.name }} - {{ $data.role -}}
                        </span>
                        <span class="i">{{ $data.stuff }}</span>

                        <a class="absolute top-0 right--1 link dib link-transition tr" target="_blank"
                           hreflang="{{ site.LanguageCode | default site.Language.Lang }}"
                           href="{{ $data.url }}">Link
                            {{- partial "new-window-icon.html" . -}}
                        </a>
                    </dd>
                {{ end }}
            </dl>
        </div>
    </section>

    <section class="flex-ns flex-wrap justify-around mt1">
        {{ range .Paginator.Pages }}
        <div class="relative w-100 w-40-l mb1 ml1-l bg-white-80">
            {{ .Render "summary" }}
        </div>
        {{ end }}
    </section>

    <aside class="flex justify-around">
        <p class="f5 washed-red"><strong class="red">*</strong> please check the faq</p>
    </aside>

    {{ .Scratch.Set "wordCount" 0 }}
    {{ .Scratch.Set "lastMod" nil }}

    {{ with .Site.GetPage "/cv" }}
        {{ $wordCount := 0 }}
        {{ $lastMod := 0 }}

        {{ range .Pages }}
            {{ $.Scratch.Add "wordCount" .WordCount }}
            {{ $.Scratch.Set "lastMod" (cond (gt .Lastmod ($.Scratch.Get "lastMod")) .Lastmod ($.Scratch.Get "lastMod")) }}
            {{ $lastMod := cond (gt .Lastmod $lastMod) .Lastmod $lastMod }}
        {{ end }}

        <div class="flex-ns flex-wrap justify-around pa3">
            {{ partial "lastmod-side.html" (dict "WordCount" (.Scratch.Get "wordCount") "Lastmod" (.Scratch.Get "lastMod") "Completion" ($.Param "completion")) }}
        </div>
    {{ end }}
</article>
{{ end }}
