{{ define "main" }}
    <div class="flex-l mt2 mw8 center comingsoon">
        <section class="flex-ns flex-wrap justify-around mv4 bg-white-80">
            <div>
                <dl class="lh-title pa4 mt0">
                    {{ range $data := .Params.questions }}
                        <dt class="f6 b">{{ $data.q }}</dt>
                        <dd class="ml0 mb1">
                            <span class="flex flex-wrap justify-between">
                                {{- $data.a }}
                                {{ with $data.url }}
                                <a class="link dib link-transition pl1" target="_blank"
                                   hreflang="{{ site.LanguageCode | default site.Language.Lang }}"
                                   href="{{ $data.url }}">Link
                                    {{- partial "new-window-icon.html" . -}}
                                </a>
                                {{ end }}
                            </span>
                        </dd>
                    {{ end }}
                </dl>
            </div>
        </section>
    </div>
{{ end }}
