@font-face {
    font-family: "DejaVu";
    font-style: normal;
    font-weight: 100 1000;
    src: local("Open"),
    url("../fonts/DejaVuSansMono.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu";
    font-style: italic;
    font-weight: 100 1000;
    src: local("Open"),
    url("../fonts/DejaVuSansMono-Oblique.ttf") format("truetype")
}

@font-face {
    font-family: "Rich";
    font-style: normal;
    font-weight: 500;
    src: local("Open"),
    url("../fonts/RichTheBarberPU.ttf") format("truetype")
}

body.dejavu {
    font-family: "DejaVu", monospace;
}

.cv blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 0.25rem #357edd solid;
    p {
        line-height: 1.5rem;
    }
}

.comingsoon {
    justify-content: center;
}

.green-60 {
    color: rgba(25, 169, 116, .6);
}

.bzz {
    font-family: "DejaVu", monospace;
    transition: all 1s;
    transition-timing-function: steps(1, jump-both);
}

.bzz:active, .bzz.z {
    font-family: "Comic Sans MS", cursive;
}


.rich {
    font-family: "DejaVu", monospace;
    transition: all 1s;
    transition-timing-function: steps(1, jump-both);
}

.rich.z {
    font-family: "Rich", fantasy;
    /*background: linear-gradient(45deg, rgba(0,0,0,.3) 0%, rgba(136,136,136,.4) 34%, rgba(139,139,139,.3) 66%, rgba(0,0,0,.6) 100%);*/
}

.mni {
    font-weight: 300;
    transition: all 2s;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.mni.z, .mni:active {
    font-weight: 900;
}

.c {
    visibility: collapse;
    opacity: 0;
    transition: opacity 320ms;
}

header .kthx:active .c {
    visibility: revert;
    opacity: .3;
}
