@font-face {
    font-family: "DejaVu";
    font-style: normal;
    font-weight: 300;
    src: local("Open"),
    url("../fonts/DejaVuSansMono.ttf") format("truetype")
}

@font-face {
    font-family: "DejaVu";
    font-style: italic;
    font-weight: 300;
    src: local("Open"),
    url("../fonts/DejaVuSansMono-Oblique.ttf") format("truetype")
}

body.dejavu {
    font-family: "DejaVu", ui-monospace;
}

.cv blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 0.25rem #357edd solid;
    p {
        line-height: 1.5rem;
    }
}

.comingsoon {
    justify-content: center;
}

.green-60 {
    color: rgba(25, 169, 116, .6);
}
