@font-face {
    font-family: "DejaVu";
    font-style: normal;
    font-weight: 300;
    src: local("Open"),
    url("../fonts/DejaVuSansMono.ttf") format("truetype")
}

body.dejavu {
    font-family: "DejaVu", ui-monospace;
}
