{{ $langData := (index .Site.Data .Site.Language.Lang ) }}
{{ $gaUrl := "https://support.google.com/analytics/answer/6004245?hl=" }}
<div id="consent-notice" class="dn bottom-0 w-100 bg-dark-gray ph3 ph1-l pv2 justify-center-l items-center">
    <span class="di mr3 w-auto-l w-100">
        {{ i18n "consent_prefix" }}
        <a class="di underline pointer white-80" target="_blank" rel="noopener"
           href="{{ $gaUrl }}{{ .Site.Language.Lang }}">Google Analytics 4</a> {{ i18n "consent_suffix" }}
    </span>
    <button class="btn manage-consent ml1">{{ i18n "details" }}</button>
    <button class="btn deny-consent ml1">{{ i18n "deny" }}</button>
    <button class="btn approve-consent ml1">{{ i18n "allow" }}</button>
</div>

<div id="consent-overlay">
    <div>
        {{ range $index, $item := $langData.consent.items  }}
            <div class="flex">
                <label for="item{{ $index }}" class="dib w-100">
                    <input class="" type="checkbox" id="item{{ $index }}" value="1"
                           name="item{{ $index }}" {{ if $item.is_functional }}checked disabled{{ end }} />
                    <strong class="dib w-70 ph1">{{ $item.title }}</strong>
                </label>
            </div>
            <div>
                <span class="dib">{{ $item.description }}</span>
            </div>
            <div>
                <span class="dib fw6">{{ $item.addendum }}</span>
            </div>
            <div>
                <span class="dib fw6">{{ $item.addendum2 }}</span>
            </div>
            <div>
                <span class="dib">{{ $item.cookies }}</span>
            </div>
        {{ end }}
        <div class="justify-between">
            <button id="save-consent" class="btn save-consent"
                    data-consentvalue="{{ range $index, $item := $langData.consent.items }}{{ if $item.is_functional}}{{ else }}0{{ end }}{{ end }}">
                {{ i18n "allow_selected" }}</button>
            <button class="btn deny-consent">{{ i18n "deny" }}</button>
        </div>
    </div>
</div>
