{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
<ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
    {{ range .Translations }}
        {{ $langName := or .Language.LanguageName .Language.Lang }}
        {{ $langCode := or .Language.LanguageCode .Language.Lang }}
    <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
        <a class="hover-white blue" hreflang="{{ $langCode }}" href="{{ .RelPermalink }}">{{ $langName }}</a>
    </li>
    {{ end}}
</ul>
{{ end }}
