<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex justify-between flex-wrap flex-nowrap-l items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-blue white-90 dib w-100 w-auto-l c-animate">
        {{ .Site.Title }}
    </a>

    <div class="w-100 flex flex-row items-center justify-between justify-end-l ">
      {{ if .Site.Menus.main }}
        <ul class="flex-l pl1">
          {{ range .Site.Menus.main }}
          <li class="list f3 f4-ns fw4 dib mt1 overflow-hidden overflow-y-visible">
            <a class="flex-l flex-column-l hover-blue white-90 pr3" href="{{ .PageRef }}" title="{{ .Title }}">
              <span class="dn-s roll">{{ .Name }}</span>
              <span class="dib-s roller">{{ .Title }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}

      {{ partial "i18nlist.html" . }}

      {{/* {{ partialCached "social-follow.html" . }} */}}
    </div>
  </div>
</nav>
