<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex justify-between flex-wrap flex-nowrap-l items-center tc tl-l">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-blue white-90 dib w-100 c-animate">
        {{ .Site.Title }}
    </a>

    <div class="w-100 flex flex-row items-center justify-between justify-end-l ">
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
          <li class="list f3 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="blue hover-white white-90" href="{{ .PageRef }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}

      {{ partial "i18nlist.html" . }}

      {{/* {{ partialCached "social-follow.html" . }} */}}
    </div>
  </div>
</nav>
