<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3 debug-gridd" role="contentinfo">
    <div class="flex justify-between flex-row-l flex-column items-center">

        <div class="w-100 w-third-l">
            <a class="w-100 f4 fw4 hover-white no-underline white-70 dib pv2 ph3-l" href="{{ .Site.Home.Permalink }}">
                &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
            </a>
        </div>

        <button id="cookie_reset"
                class="w-100 input-reset grow pointer bg-washed-red w-auto-l h-25 mh5">{{ i18n "revoke_cookies" }}</button>

        <div class="flex flex-row-l flex-column w-100 w-third-l justify-end-l">
            <div class="w-auto-l w-100">
                {{ if .Site.Menus.footer }}
                    <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }} mv0 pv2 w-100">
                        {{ range .Site.Menus.footer }}
                            <li class="list f4 fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
                                <a class="hover-blue white-90" href="{{ .PageRef }}" title="{{ i18n "pageTitle" . }}">
                                    {{ .Name }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>

            <div class="w-auto">
                {{ partial "social-follow.html" . }}
            </div>
        </div>
    </div>
</footer>
